@import "/src/media.scss";

.footer {
    width: 100%;
    height: fit-content;
    background: rgb(30, 30, 30);

    &__title {
        font-size: 23px;
        font-style: italic;
        padding: 15px;
        text-align: center;

        @include media(375) {
            font-size: 20px;
        }
    }
}